{% import ':Macros:template_form.html.twig' as formulario %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Editar Categoria</h4>
    </div>
    <form action="{{ path('client_product_category_update', {'category': entity.id}) }}" method="post" data-type="edit" data-reload="reload_client_product_category" class="form-horizontal iframe_form">
        <div class="modal-body">

            {{ formulario.input(edit_form.name) }}

            {{ form_rest(edit_form) }}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
            <button type="button" class="btn close-fancybox"><i class=" icon-remove"></i> Cancelar</button>
        </div>
    </form>
</div>
<!-- /.modal-content -->

<script>
    $(document).ready(function () {
        $('.tooltips').tooltip();
    });
</script>