{% extends 'ClientBundle::layout.html.twig' %}

{% block content_title %}
    <h3 class="page-title">Categorias</h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("client_home") }}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Categorias
            </li>
        </ul>
    </div>
{% endblock %}

{% block content -%}
    <div class="portlet light">
        <div class="portlet-body">
            <a href="{{ path("client_product_category_new") }}" class="btn btn-circle btn-default pull-right iframe">
                <i class="fa fa-plus"></i> Agregar Categor&iacute;a
            </a>
            <table class="table table-bordered table-striped table-condensed reload_client_product_category"
                   width="100%" id="ajax_table" data-url="{{ path("client_product_category_json") }}">
                <thead>
                <tr>
                    <th width="20">#</th>
                    <th>Nombre</th>
                    <th width="20"></th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
{% endblock %}
