<div class="btn-group"><button class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown"><i class="icon-wrench"></i><span class="caret"></span></button><ul class="dropdown-menu pull-right">{{ options|raw }}</ul></div>