<footer class="blog-footer">
    <div class="container">
        <div class="pull-right">
            <img src="{{ asset("images/logo3.png") }}">
        </div>

        <div class="pull-left text-left">
            <ul>
                <li>+56 (2) 999 999 99</li>
                <li>contacto@glocalmed.com</li>
            </ul>
        </div>
        <div class="pull-right text-right">
            <ul>
                <li>www.glocalmed.com</li>
                <li>Medicina global aplicada a la realidad local </li>
            </ul>
        </div>
    </div>
</footer>