<a href="{{ url }}" class="{{ class|default('') }}" {% if data_reload|default(false) != false %}data-reload="{{ data_reload }}"{% endif %} data-toggle="confirmation" data-original-title="Are you sure ?">{% if icon|default(false) %}<i class="{{ icon }}" ></i>{% endif %}{{ text }}</a>