<li>
    <a href="{{ url }}" class="{{ class|default('') }}" {% if data_reload|default(false) != false %}data-reload="{{ data_reload }}"{% endif %} data-toggle="confirmation" {% if confirm_text|default(false) %}data-confirm-text="{{ confirm_text }}"{% endif %} {% if message_title|default(false) %}data-message-title="{{ message_title }}"{% endif %} {% if message_text|default(false) %}data-message-text="{{ message_text }}"{% endif %}>
        {% if icon|default(false) %}<i class="{{ icon }}" ></i>{% endif %}{{ text }}
    </a>
</li>