{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/admin/layout/css/themes/blue.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

    {% include "ClientBundle:templates:topbar.html.twig" %}
    <div class="clearfix"></div>


    <div class="page-container">
        {% include "ClientBundle:templates:sliderbar.html.twig" %}

        <div class="page-content-wrapper">
            <div class="page-content">
                {% block content_title %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>

    {#{% include ":backend/Templates:footer.html.twig" %}#}

{% endblock %}