{% import ':Macros:template_form.html.twig' as formulario %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Editar Cliente</h4>
    </div>
    <form action="{{ path('admin_client_update', {'id':entity.id}) }}" method="post" data-type="edit" data-reload="reload_admin_client" class="form-horizontal iframe_form">
        <div class="modal-body">

            {{ formulario.input(edit_form.business_name) }}
            {{ formulario.input(edit_form.fantasy_name) }}
            {{ formulario.input(edit_form.rut) }}
            {{ formulario.input(edit_form.email) }}
            {{ formulario.input(edit_form.phone_number) }}
            {{ formulario.input(edit_form.city) }}
            {{ formulario.input(edit_form.address) }}

            {{ form_rest(edit_form) }}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
            <button type="button" class="btn close-fancybox"><i class=" icon-remove"></i> Cancelar</button>
        </div>
    </form>
</div>
<!-- /.modal-content -->

<script>
    $(document).ready(function () {
        $('.tooltips').tooltip();
    });
</script>