{% import ':Macros:template_form.html.twig' as formulario %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Nuevo Cliente</h4>
    </div>
    <form action="{{ path('admin_client_create') }}" method="post" data-type="new" data-reload="reload_admin_client" class="form-horizontal iframe_form">
        <div class="modal-body">

            {{ formulario.input(form.business_name) }}
            {{ formulario.input(form.fantasy_name) }}
            {{ formulario.input(form.rut) }}
            {{ formulario.input(form.email) }}
            {{ formulario.input(form.phone_number) }}
            {{ formulario.input(form.city) }}
            {{ formulario.input(form.address) }}

            {#{{ formulario.input(form.password.first, {'class':'span9'}) }}
            {{ formulario.input(form.password.second, {'class':'span9'}) }}#}

            {{ form_rest(form) }}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
            <button type="button" class="btn close-fancybox"><i class=" icon-remove"></i> Cancelar</button>
        </div>
    </form>
</div>
<!-- /.modal-content -->

<script>
    $(document).ready(function () {
        $('.tooltips').tooltip();
    });
</script>