{% import ':Macros:template_form.html.twig' as formulario %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Editar Administrador</h4>
    </div>
    <form action="{{ path('backend_administradores_update', {'id':entity.id}) }}" method="post" data-type="edit" data-reload="reload_backend_administradores" class="form-horizontal iframe_form">
        <div class="modal-body">

            {{ formulario.input(edit_form.name, {'class':'span9'}) }}
            {{ formulario.input(edit_form.email, {'class':'span9'}) }}
            {{ formulario.input(edit_form.phone, {'class':'span9'}) }}
            {{ formulario.input(edit_form.password.first, {'class':'span9'}) }}
            {{ formulario.input(edit_form.password.second, {'class':'span9'}) }}

            {{ form_rest(edit_form) }}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
            <button type="button" class="btn close-fancybox"><i class=" icon-remove"></i> Cancelar</button>
        </div>
    </form>
</div>
<!-- /.modal-content -->

<script>
    $(document).ready(function () {
        $('.tooltips').tooltip();
    });
</script>