{% import ':Macros:template_form.html.twig' as formulario %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Nuevo Administrador</h4>
    </div>
    <form action="{{ path('backend_administradores_create') }}" method="post" data-type="new" data-reload="reload_backend_administradores" class="form-horizontal iframe_form">
        <div class="modal-body">

            {{ formulario.input(form.name, {'class':'span9'}) }}
            {{ formulario.input(form.email, {'class':'span9'}) }}
            {{ formulario.input(form.phone, {'class':'span9'}) }}
            {{ formulario.input(form.password.first, {'class':'span9'}) }}
            {{ formulario.input(form.password.second, {'class':'span9'}) }}

            {{ form_rest(form) }}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
            <button type="button" class="btn close-fancybox"><i class=" icon-remove"></i> Cancelar</button>
        </div>
    </form>
</div>
<!-- /.modal-content -->

<script>
    $(document).ready(function () {
        $('.tooltips').tooltip();
    });
</script>