{% import ':Macros:template_form.html.twig' as formulario %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Editar Producto</h4>
    </div>
    <form action="{{ path('admin_client_local_product_update', {'client':client.id, 'local': local.id, 'product': product.id}) }}" method="post" data-type="edit" data-reload="reload_admin_client_local_product" class="form-horizontal iframe_form">
        <div class="modal-body">

            {{ formulario.input(edit_form.name) }}
            {{ formulario.input(edit_form.description) }}
            {{ formulario.input(edit_form.price) }}
            {{ formulario.input(edit_form.price_hh) }}
            {{ formulario.input(edit_form.category) }}
            {{ formulario.input(edit_form.tax_type) }}

            {{ form_rest(edit_form) }}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
            <button type="button" class="btn close-fancybox"><i class=" icon-remove"></i> Cancelar</button>
        </div>
    </form>
</div>
<!-- /.modal-content -->

<script>
    $(document).ready(function () {
        $('.tooltips').tooltip();
    });
</script>