{% extends 'AdminBundle::layout.html.twig' %}

{% block content_title %}
    <h3 class="page-title">Barmans <small>{{ local.name }}</small></h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("admin_home") }}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path("admin_client") }}">Clientes</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('admin_client_local', {'client': client.id}) }}">Locales</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Barmans
            </li>
        </ul>
    </div>
{% endblock %}

{% block content -%}
    <div class="portlet light">
        <div class="portlet-body">
            <a href="{{ path("admin_client_local_bartender_new", {'client':client.id, 'local': local.id}) }}" class="btn btn-circle btn-default pull-right iframe">
                <i class="fa fa-plus"></i> Agregar Barman
            </a>
            <table class="table table-bordered table-striped table-condensed reload_admin_client_local_bartender"
                   width="100%" id="ajax_table" data-url="{{ path("admin_client_local_bartender_json", {'client': client.id, 'local': local.id}) }}">
                <thead>
                <tr>
                    <th width="20">#
                    </th>
                    <th>Nombre</th>
                    <th>Rut</th>
                    <th>Email</th>
                    <th width="20"></th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
{% endblock %}
