<!DOCTYPE>
<html>
<head>
    <title></title>
</head>
<body>

    <fieldset>
        <legend>Simular un pago por Webpay Normal</legend>

        <form method="post">
            <table>
                <tr>
                    <td>Access Token</td>
                    <td><input type="text" name="access_token" value="RsF6vHZllbMtPaP4sGrgB3YmPtSQia3M"/></td>
                </tr>
                <tr>
                    <td>ID del local</td>
                    <td><input type="number" name="local_id" value="8"/></td>
                </tr>
                <tr>
                    <td>Productos</td>
                    <td><input type="text" name="products" value="2-2|4-1"/></td>
                </tr>
                <tr>
                    <td>Es HH</td>
                    <td><input type="text" name="happy_hour" value="false"/></td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="submit"/>
                    </td>
                </tr>
            </table>
        </form>

    </fieldset>

</body>
</html>