<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="sidebar-search-wrapper">
                <form class="sidebar-search " action="#" method="POST">
                </form>
            </li>

            <li class="start {% if app.request.attributes.get('_route') == 'admin_home' %}active{% endif %}">
                <a href="{{ path("admin_home") }}">
                    <i class="icon-home"></i>
                    <span class="title">Home</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="{% if app.request.attributes.get('_route') == 'admin_client' %}active{% endif %}">
                <a href="{{ path("admin_client") }}">
                    <i class="icon-user"></i>
                    <span class="title">Clientes</span>
                    <span class="selected"></span>
                </a>
            </li>


            <li class="{% if app.request.attributes.get('_route') == 'admin_local' %}active{% endif %}">
                <a href="{{ path("admin_local") }}">
                    <i class="icon-map"></i>
                    <span class="title">Locales</span>
                    <span class="selected"></span>
                </a>
            </li>


            <li class="{% if app.request.attributes.get('_route') == 'backend_administradores' %}active{% endif %}">
                <a href="{{ path("backend_administradores") }}">
                    <i class="icon-user-follow"></i>
                    <span class="title">Administradores</span>
                    <span class="selected"></span>
                </a>
            </li>


            <li class="{% if app.request.attributes.get('_route') == 'admin_config' %}active{% endif %}">
                <a href="{{ path("admin_config") }}">
                    <i class="icon-settings"></i>
                    <span class="title">Configuraci&oacute;n</span>
                    <span class="selected"></span>
                </a>
            </li>


            {#<li class="{% if app.request.attributes.get('_route') in ['test1', 'test2'] %}active open{% endif %}">#}
                {#<a href="javascript:;">#}
                    {#<i class="icon-settings"></i>#}
                    {#<span class="title">Configuraci&oacute;n</span>#}
                    {#<span class="selected"></span>#}
                    {#<span class="arrow open"></span>#}
                {#</a>#}
                {#<ul class="sub-menu">#}
                    {#<li>#}
                        {#<a href="index.html">#}
                            {#<i class="icon-bar-chart"></i>#}
                            {#Default Dashboard</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="index_2.html">#}
                            {#<i class="icon-bulb"></i>#}
                            {#New Dashboard #1</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="index_3.html">#}
                            {#<i class="icon-graph"></i>#}
                            {#New Dashboard #2</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="heading">
                <h3 class="uppercase">More</h3>
            </li>#}

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
