<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="sidebar-search-wrapper">
                <form class="sidebar-search " action="#" method="POST">
                </form>
            </li>

            <li class="start {% if app.request.attributes.get('_route') == 'client_home' %}active{% endif %}">
                <a href="{{ path("client_home") }}">
                    <i class="icon-home"></i>
                    <span class="title">Home</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="start {% if app.request.attributes.get('_route') == 'client_local' %}active{% endif %}">
                <a href="{{ path("client_local") }}">
                    <i class="icon-map"></i>
                    <span class="title">Locales</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="start {% if app.request.attributes.get('_route') == 'client_product_category' %}active{% endif %}">
                <a href="{{ path("client_product_category") }}">
                    <i class="icon-layers"></i>
                    <span class="title">Categorias</span>
                    <span class="selected"></span>
                </a>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
