<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="es"> <!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    {% block stylesheets %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>

        <link href="{{ asset('assets/global/plugins/font-awesome/css/font-awesome.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/global/plugins/fancybox/source/jquery.fancybox.css') }}" type="text/css" rel="stylesheet" />

        <link href="{{ asset('assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css') }}" type="text/css" rel="stylesheet" />

        <link href="{{ asset('assets/global/plugins/jconfirmaction/jconfirmaction.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/global/plugins/bootstrap-summernote/summernote.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/global/plugins/bootstrap-toastr/toastr.min.css') }}" type="text/css" rel="stylesheet" />

        <link href="{{ asset('assets/global/css/components-md.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/global/css/components.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/global/css/plugins.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/admin/layout/css/layout.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/admin/layout/css/themes/default.css') }}" type="text/css" rel="stylesheet" />

        <link href="{{ asset('assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset("assets/global/plugins/jquery.countdown/demo/countdown.demo.css") }}" rel="stylesheet" type="text/css">
        <link href="{{ asset("assets/admin/layout/css/custom.css") }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset("css/backend.css") }}" rel="stylesheet" type="text/css"/>
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body class="{% block classBody %}page-md page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo{% endblock %}">

    {% block body %}{% endblock %}

    {% block javascripts %}
        <!--[if lt IE 9]>
        <script src="{{ asset('assets/global/plugins/respond.min.js') }}"></script>
        <script src="{{ asset('assets/global/plugins/excanvas.min.js') }}"></script>
        <![endif]-->

        <script src="{{ asset('assets/global/plugins/jquery.min.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/jquery-migrate.min.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/jquery-ui/jquery-ui.min.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"  type="text/javascript"></script>

        <script src="{{ asset('assets/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/datatables/extensions/Reload/fnReloadAjax.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/datatables/extensions/RowReordering/jquery.dataTables.rowReordering.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/datatables/extensions/RowReordering/jquery.dataTables.rowGrouping.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/jquery-form/jquery.form.min.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/fancybox/source/jquery.fancybox.pack.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/jconfirmaction/jconfirmaction.jquery.js') }}"  type="text/javascript"></script>

        <script src="{{ asset('assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/bootstrap-markdown/lib/markdown.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js') }}"  type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/bootstrap-summernote/summernote.min.js') }}"  type="text/javascript"></script>

        <script src="{{ asset("assets/global/plugins/jquery.countdown/jquery.countdown.js") }}" type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/bootstrap-toastr/toastr.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset("assets/admin/pages/scripts/ui-toastr.js") }}" type="text/javascript"></script>

        <script src="{{ asset("assets/global/plugins/jquery-form/jquery.form.script.js") }}" type="text/javascript"></script>
        <script src="{{ asset("assets/global/scripts/metronic.js") }}" type="text/javascript"></script>
        <script src="{{ asset("assets/global/plugins/fancybox/source/jquery.fancybox.script.js") }}" type="text/javascript"></script>
        <script src="{{ asset("assets/admin/layout/scripts/layout.js") }}" type="text/javascript"></script>
        <script src="{{ asset("assets/global/plugins/jconfirmaction/jconfirmaction.script.js") }}" type="text/javascript"></script>
        <script src="{{ asset("assets/admin/pages/scripts/components-editors.js") }}"></script>
        <script src="{{ asset("assets/admin/pages/scripts/components-form-tools.js") }}"></script>

        <script src="{{ asset("js/backend.js") }}" type="text/javascript"></script>
    {% endblock %}
    <script>
        jQuery(document).ready(function() {
            {% block initJs %}
                Metronic.init();
                Layout.init();
                UIToastr.init();
            {% endblock %}
        });
    </script>

    {% if app.session.flashbag.has('notice') %}
        <script>
            $(document).ready(function(){
                {% for flashMessage in app.session.flashbag.get('notice') %}
                {% for flashMessage2 in app.session.flashbag.get('type') %}
                {% for flashMessage3 in app.session.flashbag.get('title') %}
                    toastr["{{ flashMessage2 }}"]("{{ flashMessage }}", "{{ flashMessage3 }}");
                {% endfor %}
                {% endfor %}
                {% endfor %}
            });
        </script>
    {% endif %}

</body>
</html>
