{% extends '::base.html.twig' %}

{% block title %}Webpay Result{% endblock %}

{% block body %}

    <script type="text/javascript">
        function app_callback(){
            return '{{ items|json_encode()|raw }}';
        }
    </script>

{% endblock %}

