{% extends "::base.html.twig" %}

{% block body %}

    {% include "AdminBundle:templates:topbar.html.twig" %}
    <div class="clearfix"></div>


    <div class="page-container">
        {% include "AdminBundle:templates:sliderbar.html.twig" %}

        <div class="page-content-wrapper">
            <div class="page-content">
                {% block content_title %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>

    {#{% include ":backend/Templates:footer.html.twig" %}#}

{% endblock %}