{% import ':Macros:template_form.html.twig' as formulario %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Nuevo Producto</h4>
    </div>
    <form action="{{ path('client_local_product_create', {'local': local.id}) }}" method="post" data-type="new" data-reload="reload_client_local_product" class="form-horizontal iframe_form">
        <div class="modal-body">

            {{ formulario.input(form.name) }}
            {{ formulario.input(form.description) }}
            {{ formulario.input(form.price) }}
            {{ formulario.input(form.price_hh) }}
            {{ formulario.input(form.category) }}
            {{ formulario.input(form.tax_type) }}


            {{ form_rest(form) }}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
            <button type="button" class="btn close-fancybox"><i class=" icon-remove"></i> Cancelar</button>
        </div>
    </form>
</div>
<!-- /.modal-content -->

<script>
    $(document).ready(function () {
        $('.tooltips').tooltip();
    });
</script>