{% macro menu(menu, submenu) %}
    {% if permisos.view(path(menu.route|default('homepage'))) %}
        <li class="has-sub {% if  menu.route == permisos.modulo|split('/')[1] %}active{% endif %}" data-name="{{ menu.name|lower|replace(' ', '_') }}">
            <a href="{% if menu.url|default('') %}{{ path(menu.url) }}{% else %}javascript:{% endif %}" class="">
                <span class="icon-box">
                    <i class="{{ menu.icon|default('') }}"></i>
                </span> {{ menu.name }}
                <span class="{% if submenu|length != 0 %}arrow{% endif %} {% if menu.route in permisos.modulo %}open{% endif %}"></span>
            </a>
            <ul class="sub">
                {% for key, value in submenu %}
                    {% if menu.segurity|default(false) %}
                        {% if permisos.view(path(key)) %}
                            <li class="{% if permisos.url == path(key) %}active{% endif %}">
                                <a href="{{ path(key) }}">{{ value }}</a></li>
                        {% endif %}
                    {% else %}
                        <li class="{% if permisos.url == path(key) %}active{% endif %}">
                            <a href="{{ path(key) }}">{{ value }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}