{% macro input_view(array) %}
    <div class="form-group">
        {% if array.label|default('') != '' %}
            <label class="control-label col-md-2">{{ array.label|default('') }}</label>
        {% endif %}
        <div class="controls input-icon col-md-10">
            {% if array.value|default(false) %}
                <span class="control-label" style="display: inline-block;">{{ array.value }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro input(item, array) %}
    <div class="form-group {{ array.class_div|default('') }} {% if form_errors(item) %}has-error{% endif %}">
        {% set require = '' %}
        {% if item.vars.required %}{% set require = ' *' %}{% endif %}
        {{ form_label(item, item.vars.label~require, {'label_attr': {'class': 'col-md-2 control-label'}, 'before': require } ) }}

        <div class="{{ array.input_size|default('col-md-10') }}">
            <div class="input-icon right">
                {% if form_errors(item) %}
                    <i class="fa fa-warning tooltips" data-original-title="{% if array.field|default('') == '' %} {{ form_errors(item)|striptags }} {% else %}{{ form_errors(array.field)|striptags }}{% endif %}" data-container="body"></i>
                {% endif %}

                {{ form_widget(item) }}
                {% if array.extra|default('') != '' %}{{ array.extra }}{% endif %}
                {% if array.extraClass|default('') != '' %}<span class="{{ array.extraClass }}"></span>{% endif %}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro editor(item, array) %}
            {% if array.mask|default(0) == 0 %}
                {{ form_widget(item, {'attr': {'class': 'ckeditor '~array.class|default('span7'), 'onfocus':'elEditor = ini_editor(this)', 'cols':30} } ) }}
            {% else %}
                {{ form_widget(item, {'attr': {'class': 'ckeditor '~array.class|default('span7'), 'data-mask':array.mask|default(0), 'onfocus':'elEditor = ini_editor(this)'} } ) }}
            {% endif %}
{% endmacro %}



{% macro date(item, array) %}
    <div class="control-group {{ array.class_div|default('') }} {% if form_errors(item) %}error{% endif %}">
        {{ form_label(item, null, {'label_attr': {'class': 'control-label'} } ) }}
        <div class="controls input-icon">

            {% if array.mask|default(0) == 0 %}
                {{ form_widget(item, {'attr': {'class': array.class|default('span6') ~ ' date'} } ) }}
            {% else %}
                {{ form_widget(item, {'attr': {'class': array.class|default('span6')  ~ ' date', 'data-mask':array.mask|default(0)} } ) }}
            {% endif %}
            {% if form_errors(item) %}
                <span class="input-error tooltips" data-original-title="{{ form_errors(item) }}">
            <i class="icon-exclamation-sign"></i>
        </span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro rut_view(item, array) %}
    <div class="control-group {% if form_errors(item) %}error{% endif %}">
        {{ form_label(item.rut, null, {'attr': {'class': 'control-label'} } ) }}
        <div class="controls input-icon">
            {{ item.rut.get('value')~'-'~item.rut_digito.get('value') }}
        </div>
    </div>
{% endmacro %}

{% macro rut(item, array) %}
    <div class="control-group {% if form_errors(item.rut) %}error{% endif %}">
        {{ form_label(item.rut, null, {'attr': {'class': 'control-label'} } ) }}
        <div class="controls input-icon">

            {% if array.mask|default(0) == 0 %}
                {{ form_widget(item.rut, {'attr': {'class': array.class|default('span2') ~ ' rut'} } ) }} -
                {{ form_widget(item.rut_digito, {'attr': {'class': array.class|default('span1') ~ ' rut_digito', 'readonly':'true' } } ) }}
            {% else %}
                {{ form_widget(item.rut, {'attr': {'class': array.class|default('span2') ~ ' rut', 'data-mask':array.mask|default(0)} } ) }} -
                {{ form_widget(item.rut_digito, {'attr': {'class': array.class|default('span1') ~ ' rut_digito', 'readonly':'true' } } ) }}
            {% endif %}
            {% if form_errors(item.rut) %}
                <span class="input-error tooltips" data-original-title="{{ form_errors(item.rut) }}">
                    <i class="icon-exclamation-sign"></i>
                </span>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro doble_view(array) %}
    <div class="control-group {% if form_errors(array.field1) %}error{% endif %}">
        {{ form_label(array.field1, null, {'attr': {'class': 'control-label'} } ) }}
        <div class="controls input-icon">

            {% if array.mask|default(0) == 0 %}
                {{ form_widget(array.field1, {'attr': {'class': array.class1|default('span2')} } ) }} -
                {{ form_widget(array.field2, {'attr': {'class': array.class2|default('span1') } } ) }}
            {% else %}
                {{ form_widget(array.field1, {'attr': {'class': array.class1|default('span2'), 'data-mask':array.mask|default(0)} } ) }} -
                {{ form_widget(array.field2, {'attr': {'class': array.class2|default('span1') } } ) }}
            {% endif %}
            {% if form_errors(array.field1) %}
                <span class="input-error tooltips" data-original-title="{{ form_errors(array.field1) }}">
                    <i class="icon-exclamation-sign"></i>
                </span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro doble(array) %}
    <div class="control-group {% if form_errors(array.field1) %}error{% endif %}">
        {{ form_label(array.field1, null, {'attr': {'class': 'control-label'} } ) }}
        <div class="controls input-icon">

            {% if array.mask|default(0) == 0 %}
                {{ form_widget(array.field1, {'attr': {'class': array.class1|default('span2')} } ) }} -
                {{ form_widget(array.field2, {'attr': {'class': array.class2|default('span1') } } ) }}
            {% else %}
                {{ form_widget(array.field1, {'attr': {'class': array.class1|default('span2'), 'data-mask':array.mask|default(0)} } ) }} -
                {{ form_widget(array.field2, {'attr': {'class': array.class2|default('span1') } } ) }}
            {% endif %}
            {% if form_errors(array.field1) %}
                <span class="input-error tooltips" data-original-title="{{ form_errors(array.field1) }}">
                    <i class="icon-exclamation-sign"></i>
                </span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro permisos(array) %}
    <div class="control-group ">
        <label class="control-label required">{{ array.name }}</label>
        <div class="controls input-icon">
            <label class="checkbox line">
                <div class="checker" id="uniform-undefined">
                    <span class="">
                        <input type="checkbox" name="{{ array.input }}[view]" value="{{ array.permisos.varView }}" {{ array.permisos.checkView(array.value) }} style="opacity: 0;">
                    </span>
                </div>
                Ver
            </label>
            <label class="checkbox">
                <div class="checker" id="uniform-undefined">
                    <span><input type="checkbox" name="{{ array.input }}[new]" value="{{ array.permisos.varNew }}" {{ array.permisos.checkNew(array.value) }} style="opacity: 0;"></span>
                </div>
                Nuevo
            </label>
            <label class="checkbox">
                <div class="checker" id="uniform-undefined">
                    <span><input type="checkbox" name="{{ array.input }}[edit]" value="{{ array.permisos.varEdit }}" {{ array.permisos.checkEdit(array.value) }} style="opacity: 0;"></span>
                </div>
                Editar
            </label>
            <label class="checkbox">
                <div class="checker" id="uniform-undefined">
                    <span><input type="checkbox" name="{{ array.input }}[delete]" value="{{ array.permisos.varDelete }}" {{ array.permisos.checkDelete(array.value) }} style="opacity: 0;"></span>
                </div>
                Eliminar
            </label>

        </div>
    </div>
{% endmacro %}