{% extends 'AdminBundle::layout.html.twig' %}
{% import ':Macros:template_form.html.twig' as formulario %}

{% block content_title %}
    <h3 class="page-title">Configuraci&oacute;n</h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("admin_home") }}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Configuraci&oacute;n
            </li>
        </ul>
    </div>
{% endblock %}

{% block content -%}
    <div class="portlet light">
        <div class="portlet-body">
            <form action="{{ path('admin_config_update') }}" method="post" class="form-horizontal">
                {{ formulario.input(form.app_active) }}

                {{ form_rest(form) }}

                <div class="modal-footer">
                    <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
