{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset("assets/admin/pages/css/login-soft.css") }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block classBody %}login{% endblock %}
{% block body %}

	<div class="menu-toggler sidebar-toggler">
	</div>
	<!-- END SIDEBAR TOGGLER BUTTON -->
	<!-- BEGIN LOGO -->
	<div class="logo">
		<a href="{{ path('app_home') }}">
			{#<img src="{{ asset("images/logo6.png") }}"  alt=""/>#}
		</a>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
		<form class="login-form" action="{{ path("client_login_check") }}" method="post">

			<div class="alert alert-danger {% if error|default(false) == false %}display-hide{% endif %}">
				<button class="close" data-close="alert"></button>
			<span>{% if error|default(false) == false %}Ingrese su E-mail y Contrase&ntilde;a. {% else %}Informaci&oacute;n incorrecta.{% endif %}</span>
			</div>
			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">Rut</label>
				<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Rut" name="_username"/>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Password</label>
				<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="_password"/>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary btn-block uppercase">Ingresar</button>
			</div>
			<div class="form-actions">

				<div class="pull-right forget-password-block">
					{#<a href="javascript:;" id="forget-password" class="forget-password">Se te olvidó tu contraseña?</a>#}
				</div>
			</div>

		</form>
		<!-- END LOGIN FORM -->
		<!-- BEGIN FORGOT PASSWORD FORM -->
		<form class="forget-form" action="index.html" method="post">
			<div class="form-title">
				<span class="form-title">Se te olvid&oacute; tu contrase&ntilde;a?</span>
				<span class="form-subtitle">Ingrese su correo electrónico para restablecerla.</span>
			</div>
			<div class="form-group">
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
			</div>
			<div class="form-actions">
				<button type="button" id="back-btn" class="btn btn-default">Volver</button>
				<button type="submit" class="btn btn-primary uppercase pull-right">Enviar</button>
			</div>
		</form>
		<!-- END FORGOT PASSWORD FORM -->

	</div>

	<!-- END LOGIN -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{#<script src="{{ asset("assets/global/plugins/jquery-validation/js/jquery.validate.min.js") }}" type="text/javascript"></script>#}
	<script src="{{ asset("assets/admin/pages/scripts/login.js") }}" type="text/javascript"></script>
{% endblock %}

{% block initJs %}
	{{ parent() }}
	Login.init();
{% endblock %}
