{% import ':Macros:template_form.html.twig' as formulario %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Nuevo Administrador</h4>
    </div>
    <form action="{{ path('backend_administradores_create') }}" method="post" data-type="new" data-reload="reload_backend_administradores" class="form-horizontal iframe_form">
        <div class="modal-body">

            {{ formulario.input(form.name) }}
            {{ formulario.input(form.status_text) }}
            {{ formulario.input(form.file) }}
            {{ formulario.input(form.enabled) }}
            {{ formulario.input(form.latitude) }}
            {{ formulario.input(form.longitude) }}
            {{ formulario.input(form.order_timeout) }}
            {{ formulario.input(form.credit_timeout) }}
            {{ formulario.input(form.happy_hour_enabled) }}
            {{ formulario.input(form.happy_hour_timetable) }}
            {{ formulario.input(form.event_type) }}
            {{ formulario.input(form.client) }}

            {{ form_rest(form) }}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
            <button type="button" class="btn close-fancybox"><i class=" icon-remove"></i> Cancelar</button>
        </div>
    </form>
</div>
<!-- /.modal-content -->

<script>
    $(document).ready(function () {
        $('.tooltips').tooltip();
        $('.make-switch').bootstrapSwitch();
    });
</script>