.api{
    margin: 8px 30px 0 0;
    font-size: 20px;
    color: #eee;
    font-weight: bold;
}

.dataTables_wrapper .row-fluid{
    overflow: hidden;
}

td{
    vertical-align: middle !important;
}

.tooltip.top {
    z-index: 999999 !important;
}

#ajax_table_filter label{
    float: left;
}

.showLoading{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5) url("../images/ajax-loader.gif") center no-repeat;
}

.no-padding-right{
    padding-right: 0 !important;
}

.label.label-sm{
    font-size: 10px !important;
}

#ajax_order_table tr td{
    cursor: move;
}
#ajax_order_table tr > td:first-child{
    cursor: pointer !important;
}

.dataTables_filter{
    float: left;
}

.dataTables_filter .form-control{
    margin: 0 !important;
}

.dataTables_length{
    display: none;
}

.well{
    background-color: #FAFAFA ;
}

.preguntas{
    font-size: 13px !important;
}

.preguntas label{
    font-size: 13px !important;
}

ul.list-multi-option{
    margin-top: 20px;
    list-style: none;
}

ul.list-multi-option li input{
    margin-right: 5px;
}

.table-wrap{
    display: table;
}

.table-row{
    display: table-row;
}

.table-ceil{
    display: table-cell;
}
.table-ceil.vertical-align{
    vertical-align: top;
}
.table-ceil.vertical-align.check{
    width: 20px;
}

.list-group.custom{
    margin: 20px;
}

.line-vertical{

}

.formula,
.txt-formula{
    font-family: "Times New Roman", serif;
}

.form-horizontal .control-label{
    padding-top: 0 !important;
    margin-top: 0 !important;
}