{% import ':Macros:template_form.html.twig' as formulario %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Editar Local</h4>
    </div>
    <form action="{{ path('admin_client_local_update', {'client':client.id, 'local': local.id}) }}" method="post" data-type="edit" data-reload="reload_admin_client_local" class="form-horizontal iframe_form">
        <div class="modal-body">

            {{ formulario.input(edit_form.name) }}
            {{ formulario.input(edit_form.status_text) }}
            {{ formulario.input(edit_form.file) }}
            {{ formulario.input(edit_form.enabled) }}
            {{ formulario.input(edit_form.latitude) }}
            {{ formulario.input(edit_form.longitude) }}
            {{ formulario.input(edit_form.order_timeout) }}
            {{ formulario.input(edit_form.credit_timeout) }}
            {{ formulario.input(edit_form.happy_hour_enabled) }}
            {{ formulario.input(edit_form.happy_hour_timetable) }}
            {{ formulario.input(edit_form.event_type) }}
            {{ form_row(edit_form._token) }}

            {#{{ form_rest(edit_form) }}#}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
            <button type="button" class="btn close-fancybox"><i class=" icon-remove"></i> Cancelar</button>
        </div>
    </form>
</div>
<!-- /.modal-content -->

<script>
    $(document).ready(function () {
        $('.tooltips').tooltip();
        $('.make-switch').bootstrapSwitch();
    });
</script>