.question {
    position: absolute;
    display: block;
    text-align: center;
    width: 174px;
    height: 78px;
    font-size: 13px;
    line-height: 1.5em;
    background: url("bubble.png") left top no-repeat;
    padding: 10px 0 0 0;
    text-shadow: 0 1px 0 #fff;
    margin-left: -8em;
    /*margin-top: -6em;*/
    opacity: 0;
    z-index: 999
}

.yes, .cancel {
    margin-top: .5em;
    margin-right: .5em;
    cursor: pointer;
    display: inline-block;
    width: 63px;
    height: 21px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    background: url("button.png") left top no-repeat
}

.question .title {
    font-size: 30px;
    margin-bottom: 1.5em;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 2px 0 #fff
}