.cntSeparator { display: none; }

.cntDigit {
  margin-top: 0 !important;
}

.cntDigit#cnt_0 { margin-left: 0; }
.cntDigit#cnt_2 { margin-left: 0; }

#digits{
  overflow: hidden;
  text-align: center;
  width: 201px;
  margin: 0 auto;
}