{% extends 'ClientBundle::layout.html.twig' %}

{% block content_title %}
    <h3 class="page-title">Bienvenido</h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("client_home") }}">Home</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content -%}

{% endblock %}
