{% extends 'ClientBundle::layout.html.twig' %}

{% block content_title %}
    <h3 class="page-title">Horarios Happy Hours <small>{{ local.name }}</small></h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("client_home") }}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('client_local') }}">Locales</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Horarios Happy Hours
            </li>
        </ul>
    </div>
{% endblock %}

{% block content -%}
    <div class="portlet light">
        <div class="portlet-body">
            <a href="{{ path("client_local_happy_hour_new", {'local': local.id}) }}" class="btn btn-circle btn-default pull-right iframe">
                <i class="fa fa-plus"></i> Agregar Horario
            </a>
            <table class="table table-bordered table-striped table-condensed reload_client_local_happy_hour"
                   width="100%" id="ajax_table" data-url="{{ path("client_local_happy_hour_json", {'local': local.id}) }}">
                <thead>
                <tr>
                    <th width="20">#
                    </th>
                    <th>D&iacute;a</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th width="20"></th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
{% endblock %}
