{% import ':Macros:template_form.html.twig' as formulario %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Nuevo Horario</h4>
    </div>
    <form action="{{ path('client_local_happy_hour_create', {'local': local.id}) }}" method="post" data-type="new" data-reload="reload_client_local_happy_hour" class="form-horizontal iframe_form">
        <div class="modal-body">

            {{ formulario.input(form.weekday) }}
            {{ formulario.input(form.starts_at) }}
            {{ formulario.input(form.ends_at) }}

            {{ form_rest(form) }}

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Guardar</button>
            <button type="button" class="btn close-fancybox"><i class=" icon-remove"></i> Cancelar</button>
        </div>
    </form>
</div>
<!-- /.modal-content -->

<script>
    $(document).ready(function () {
        $('.tooltips').tooltip();
    });
</script>